.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 2.7fr 2.7fr 0.8fr;
    column-gap: 10px;
    row-gap: 10px;
    height: fit-content;
    grid-template-areas:
    "head head head head head"
    "aside main main main main"
    "aside main main main main"
    "foot foot foot foot foot";
}
    


.head {
    background-color: lightblue;
    grid-area: head;
   
}
.aside {
    background-color: lightslategray;
    grid-area: aside;
}
.main{
    background-color: beige;
    grid-area: main;
    position: relative;
    
    
}
.foot{
    background-color: coral;
    grid-area: foot;
}

main > textarea{ 
    border-radius: 25px;
    width: 85%;
    height: 85%;
    background-color: white;
    margin: 0 auto;
}
div.flex-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}
div.flex-mid {
    display: flex;
    border-radius: 25px;
    width: 85%;
    height: 85%;
    background-color: white;
    margin: 0 auto;
    justify-content: center;
    
}
div.flex-bot {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; }
    

    .but1{
        border-radius: 5px;
        width: 70px;
        height: 30px;
        order: 0;
        background-color: green;
        color: white;
    }


    /* flex: 0 0 75px;
    margin-left: 10px;} */ 
    .but2{
        text-align: right;
        order: 4;
        border-radius: 5px;
        background-color: gray;
        color: white;}



            
        
    .but3{
        border-radius: 5px;
        width: 70px;
        height: 30px;
        text-align: center;
        background-color: green;
        color: white;
            }
        
        
            
    .but4{
        border-radius: 5px;
        width: 70px;
        height: 30px;
        text-align: center;
        background-color: red;
        color: white;}
.img {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-end;
          }
    .img1 {
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;}
    .img2 {
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;}

h1{
    text-align: center;
}
h3{
    text-align: center;
}